.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
}

.hook {
  text-align: center;
  color: white;
  mix-blend-mode:difference;
  padding-top: 60px;
  font-size: 30px;
  font-style: italic;
  font-family:fantasy;
}

.description {
  color: white;
  mix-blend-mode:difference;
  padding-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-family:fantasy;
  text-align: center;
  justify-content: space-around;
  overflow-wrap: break-word;
  padding-left: 20vw;
  padding-right: 20vw;
}

.imageGroup {
  text-align: center;
  padding-bottom: 60px;
}

.projectImages {
  padding-top: 20px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  width: auto;
  max-width: 500px;
}

.buttonText {
  color: white;
  text-align: center;
  text-decoration: none;
}

.buttons {
  padding-top: 20px;
  text-align: center;
}
